### Context
https://www.kaggle.com/datasets/mathiassteilen/monthly-rent-of-rented-flats-in-brussels

In [1]:
# !pip install sqlalchemy-utils

In [2]:
import pandas as pd
import numpy as np

import regex as re

import statistics as stats

import seaborn as sns
import matplotlib.pyplot as plt

import pymysql
import sqlalchemy
from sqlalchemy import create_engine
from getpass import getpass
from sqlalchemy_utils import database_exists, create_database

In [3]:
pd.set_option("display.max_columns", None)
pd.set_option("display.max_rows", None)

In [4]:
raw_data = pd.read_csv('MBP-Dataset.csv')

In [5]:
# raw_data.head(1)

### Cleaning Data - Rename Columns

In [6]:
cols=[]

for c in raw_data.columns:
    cols.append(c.replace('Address', 'Address2').lower().replace(' ', '_').replace('/_', '').replace('?', '').replace('&', 'and').replace('₂', '2').replace("'", '').replace("(", '').replace(")", '').replace(",", '').replace("-", ''))

raw_data.columns=cols

In [7]:
# raw_data.head(1)

In [8]:
# raw_data

### Cleaning Data - Check NaN Values

In [9]:
# raw_data.duplicated(subset=None, keep='first')

In [10]:
# raw_data.isna().sum()

In [11]:
# raw_data[(raw_data.isna())]

##### Cleaning Data - Check NaN Values - Organising by number of NaN
This is the plan:

- If the column has < 100 NaNs, I'll substitute the NaNs with the average (mean/mode).
- If the column has half of its values, I'll analyze the data more extensively, but I'll be more inclined to keep the column.
- If the column has between half of its values and 100 values, I'll analyze the data more extensively, but I'll be more inclined to drop the column.
- If the column has fewer than 100 values, I'll check if the data complements other columns; if not, I'll drop it.

In [12]:
nan_series = raw_data.isna().sum()
nan_df = nan_series.to_frame().reset_index()
# nan_df

In [13]:
row_100 = []
row_1738 = []
row_3377 = []
row_3477 = []
row_0 = []

for row in range(len(nan_df)):
    if (nan_df.iloc[row, 1] >= 1) and (nan_df.iloc[row, 1] < 100):
        row_100.append(str(nan_df.iloc[row, 0]))
    elif (nan_df.iloc[row, 1] >= 100) and (nan_df.iloc[row, 1] <= 1738):
        row_1738.append(str(nan_df.iloc[row, 0]))
    elif (nan_df.iloc[row, 1] > 1738) and (nan_df.iloc[row, 1] <= 3377):
        row_3377.append(str(nan_df.iloc[row, 0]))
    elif (nan_df.iloc[row, 1] > 3377) and (nan_df.iloc[row, 1] <= 3477):
        row_3477.append(str(nan_df.iloc[row, 0]))
    elif (nan_df.iloc[row, 1] == 0):
        row_0.append(str(nan_df.iloc[row, 0]))
        
# print('less than 100 NaNs:')
# display(row_100)
# print('\nhalf values:')
# display(row_1738)
# print('\nbetween half and 100 values:')
# display(row_3377)
# print('\nless than 100 values:')
# display(row_3477)

##### Cleaning Data - Check NaN Values - Treating Columns with less than 100 NaNs

Monthly rental price data is in price, that has no NaNs, so I´ll drop this column.

In [14]:
data_clean1 = raw_data

In [15]:
data_clean1 = data_clean1.drop(['monthly_rental_price'], axis = 1)

In [16]:
data_clean1['tenement_building'] = data_clean1['tenement_building'].fillna('No')

In [17]:
data_clean1['space'] = data_clean1['space'].fillna(stats.mode)

##### Cleaning Data - Check NaN Values - Treating Columns that contains between 100 and half values.

In [18]:
# data_clean1.head(1)

In [19]:
# for i in row_1738:
#     print(i)
#     display(data_clean1[i].unique())

In [20]:
# for col in data_clean1.columns:
#     if 'address' in col:
#         print(col)

I´ll check if there´s information from other columns

1. available_date

In [21]:
# for col in data_clean1.columns:
    # if 'date' in col:
        # print(col)

There´s only one column with date

In [22]:
# for col in data_clean1.columns:
    # if 'available' in col:
        # print(col)

In [23]:
# data_clean1['available_as_of'].unique()

In [24]:
# display(data_clean1.groupby(['available_date', 'available_as_of'],dropna=False)['available_as_of'].agg(pd.Series.nunique))

We can guess the day the data was extract is the max date when it is available immediatly

In [25]:
# Things I´ve tried to extract with code:
# date_av = data_clean1.pivot_table(index=['available_as_of', 'available_date'], values = ['id'], aggfunc=pd.Series.nunique).reset_index()
# from datetime import datetime
# filtered_data = date_av[(date_av['available_as_of'] == 'Immediatly') & (date_av['available_date'] == max(date_av['available_date']))]

# It didn´t work, so I´ll do it manually

In [26]:
data_clean1["id"] = data_clean1.index + 1
# data_clean1.groupby(['available_as_of', 'available_date'],dropna=False)['available_date'].agg(pd.Series.nunique)

In [27]:
# The max date must be March 15 2023 - 12:00 AM        1
# I don´t think I´ll need this column for anything else, so I´ll drop it.
data_clean2 = data_clean1
data_clean2 = data_clean2.drop(['available_date'], axis=1)

2. floor

In [28]:
# display(data_clean2.groupby(['floor', 'number_of_floors'],dropna=False)['number_of_floors', 'id'].agg(pd.Series.count))

We cannot conclude it´s 0, so I´ll substitute NaN for 999, that I guess is other NaN. I´ll decide what I do it when I treat numericals.

In [29]:
data_clean2['floor'] = data_clean2['floor'].fillna(999)

3. kitchen

In [30]:
# data_clean1.groupby(['kitchen_type', 'office'],dropna=False)['office', 'id'].agg(pd.Series.nunique)
# data_clean1.groupby(['kitchen_type', 'professional_space'],dropna=False)['professional_space'].agg(pd.Series.nunique)
# data_clean1.groupby(['kitchen_type', 'kitchen_surface'],dropna=False)['kitchen_surface'].agg(pd.Series.nunique)
# data_clean1.groupby(['kitchen_type', 'gas_water_and_electricity'],dropna=False)['gas_water_and_electricity'].agg(pd.Series.nunique)
# data_clean1.groupby(['kitchen_type', 'gas_water_and_electricity'],dropna=False)['gas_water_and_electricity', 'kitchen_surface'].agg(pd.Series.nunique)

Running the above, we cannot conclude it doesn´t have kitchen because it´s an office or a professional space. Some of them have kitchen surface, but it doesn´t mean it has a kitchen installed (not installed has measures also).
There´s only a few with gas and electricity and kitchen surface, so I cannot conclude much with that information.
So I´ll fill it with "unknownW, and I´ll decide what I do with it when I treat the categoricals.

In [31]:
data_clean2['kitchen_type'] = data_clean2['kitchen_type'].fillna('Unknown')

4. bedrooms, bedroom_1_surface, bedroom_2_surface, bedroom_3_surface, bedroom_4_surface, bedroom_5_surface

In [32]:
# for col in data_clean2.columns:
#     if 'bed' in col:
#         print(col)

# data_clean1.groupby(['bedrooms',],dropna=False)['bedroom_1_surface','bedroom_2_surface','bedroom_3_surface','bedroom_4_surface','bedroom_5_surface'].agg(pd.Series.nunique)
# data_clean1.groupby(['bedrooms','bedroom_1_surface','bedroom_2_surface','bedroom_3_surface','bedroom_4_surface','bedroom_5_surface'],dropna=False)['bedroom_1_surface','bedroom_2_surface','bedroom_3_surface','bedroom_4_surface','bedroom_5_surface', 'id'].agg(pd.Series.nunique)

None of the columns have 0 number of bedrooms, but I think it´s a very important column and I don´t want to replace it with this value. So, for the moment I´ll replace it by "Unknown"

In [33]:
data_clean2['bedrooms'] = data_clean2['bedrooms'].fillna('Unknown')

In [34]:
data_clean2['bedrooms'] = data_clean2['bedroom_1_surface'].fillna('Unknown')
data_clean2['bedroom_1_surface'] = data_clean2['bedroom_1_surface'].fillna('Unknown')
data_clean2['bedroom_2_surface'] = data_clean2['bedroom_2_surface'].fillna('Unknown')
data_clean2['bedroom_3_surface'] = data_clean2['bedroom_3_surface'].fillna('Unknown')
data_clean2['bedroom_4_surface'] = data_clean2['bedroom_4_surface'].fillna('Unknown')
data_clean2['bedroom_5_surface'] = data_clean2['bedroom_5_surface'].fillna('Unknown')

5. bathrooms,toilets and shower_rooms

In [35]:
# display(data_clean2.groupby(['bathrooms', 'toilets'],dropna=False)['toilets', 'id'].agg(pd.Series.count))
# display(data_clean2.groupby(['toilets', 'bathrooms'],dropna=False)['bathrooms', 'id'].agg(pd.Series.count))
# display(data_clean2.groupby(['shower_rooms', 'bathrooms'],dropna=False)['bathrooms', 'id'].agg(pd.Series.count))
# display(data_clean2.groupby(['shower_rooms', 'bathrooms', 'toilets'],dropna=False)['bathrooms', 'toilets', 'id'].agg(pd.Series.count))
# display(data_clean2.groupby(['bathrooms', 'shower_rooms', 'toilets'],dropna=False)['shower_rooms', 'toilets', 'id'].agg(pd.Series.count))

It looks like the most of the proporties that have empty values for bathroom, have showe room and viceversa, so I´ll replace those ones with 0. I think if the propery doesn´t have a bathroom or a shower room is very relevant information, so I don´t want to replace all unkown values with 0.

In [36]:
data_clean2['bathrooms'] = np.where(~data_clean2['shower_rooms'].isnull(), data_clean2['bathrooms'].fillna(0), np.nan)
data_clean2['shower_rooms'] = np.where(~data_clean2['bathrooms'].isnull(), data_clean2['shower_rooms'].fillna(0), np.nan)

In [37]:
data_clean2['bathrooms'] = data_clean2['bathrooms'].fillna('Unknown')
data_clean2['shower_rooms'] = data_clean2['shower_rooms'].fillna('Unknown')

In [38]:
# display(data_clean2.groupby(['toilets', 'bathrooms', 'shower_rooms'],dropna=False)['bathrooms', 'shower_rooms', 'id'].agg(pd.Series.count))

We could´ve concluded that if has either a bathroom or a shower room, it has a toilet, but most of the values are NaN, so I´ll replace it with Unknown.

In [39]:
data_clean2['toilets'] = data_clean2['toilets'].fillna('Unknown')

6. heating_type

In [40]:
# display(data_clean2.groupby(['heating_type', 'gas_water_and_electricity'],dropna=False)['gas_water_and_electricity', 'id'].agg(pd.Series.count))

It´s not clear it doesn´t have heat, so I´ll replace it by unknown.

In [41]:
data_clean2['heating_type'] = data_clean2['heating_type'].fillna('Unknown')

6. double_glazing

I´ll replace it by unknown and decide what to do later.

In [42]:
data_clean2['double_glazing'] = data_clean2['double_glazing'].fillna('Unknown')

7. monthly_costs

I´ll drop this column because it´s in price

In [43]:
data_clean2 = data_clean2.drop(['monthly_costs'], axis=1)

8. number_of_floors

In [44]:
# display(data_clean2.groupby(['number_of_floors', 'floor'],dropna=False)['floor', 'id'].agg(pd.Series.count))

I´ll do the same than for floors.

In [45]:
data_clean2['number_of_floors'] = data_clean2['number_of_floors'].fillna(999)

9. number_of_frontages

In [46]:
# display(data_clean2.groupby(['number_of_frontages', 'type_of_building'],dropna=False)['type_of_building', 'id'].agg(pd.Series.count))
# display(data_clean2.groupby(['type_of_building', 'number_of_frontages'],dropna=False)['number_of_frontages', 'id'].agg(pd.Series.count))

I´ve also checked some pictures in google and don´t see anything strange. So I´ll replace it by unknown and decide what to do when I treat numericals. I don´t want to replace it by 0 because it could give worng information.

In [47]:
data_clean2['number_of_frontages'] = data_clean2['number_of_frontages'].fillna('Unknown')

10. living_area, living room and living_room_surface

In [48]:
# for col in data_clean2.columns:
   #  if 'living' in col:
       #  print(col)

In [49]:
# display(data_clean2.groupby(['living_area', 'living_room_surface'],dropna=False)['living_room_surface', 'id'].agg(pd.Series.count))
# display(data_clean2.groupby(['living_area', 'living_room'],dropna=False)['living_room', 'id'].agg(pd.Series.count))
# display(data_clean2.groupby(['living_room_surface', 'living_area'],dropna=False)['living_area', 'id'].agg(pd.Series.count))

There´re not "No" for living room, I´ll replace by 'Possible No'.

In [50]:
data_clean2['living_room'] = data_clean2['living_room'].fillna('Possible No')

In [51]:
# display(data_clean2.groupby(['living_room_surface', 'living_room'],dropna=False)['living_room', 'id'].agg(pd.Series.count))

In [52]:
# for col in data_clean2.columns:
#     if 'surface' in col:
#        print(col)

There´re not other surface columns that can add information.

In [53]:
# display(data_clean2.groupby(['living_room_surface', 'living_area'],dropna=False)['living_area', 'id'].agg(pd.Series.count))

But I can say that that the living_room_surface is < than living_area and that living_area is > than living_room_surface.

In [54]:
for i in range(len(data_clean2['living_room_surface'])):
    if pd.isnull(data_clean2.loc[i, 'living_room_surface']):
        value = data_clean2.loc[i, 'living_area']
        data_clean2.loc[i, 'living_room_surface'] = f'< than {value}'

In [55]:
# display(data_clean2.groupby(['living_room_surface', 'living_area'],dropna=False)['living_area', 'id'].agg(pd.Series.count))

In [56]:
data_clean2['living_room_surface'] = data_clean2['living_room_surface'].replace('< than nan', 'Unknown')

In [57]:
for i in range(len(data_clean2['living_area'])):
    if pd.isnull(data_clean2.loc[i, 'living_area']):
        value = data_clean2.loc[i, 'living_room_surface']
        data_clean2.loc[i, 'living_area'] = f'> than {value}'

In [58]:
# display(data_clean2.groupby(['living_area', 'living_room_surface'],dropna=False)['living_room_surface', 'id'].agg(pd.Series.count))

In [59]:
data_clean2['living_area'] = data_clean2['living_area'].replace('> than Unknown', 'Unknown')

In [60]:
# display(data_clean2.groupby(['living_area', 'living_room_surface'],dropna=False)['living_room_surface', 'id'].agg(pd.Series.count))

11. furnished

I´ll replace it by Unknown and decide later.

In [61]:
data_clean2['furnished'] = data_clean2['furnished'].fillna('Unknown')

12. terrace_surface

I´ll replace it by Unknown and decide later.

In [62]:
data_clean2['terrace_surface'] = data_clean2['terrace_surface'].fillna('Unknown')

13. intercom

In [63]:
# display(data_clean2.groupby(['intercom', 'type_of_building'],dropna=False)['type_of_building', 'id'].agg(pd.Series.count))
# display(data_clean2.groupby(['intercom', 'floor'],dropna=False)['floor', 'id'].agg(pd.Series.count))
# display(data_clean2.groupby(['intercom', 'listing_type'],dropna=False)['listing_type', 'id'].agg(pd.Series.count))
# display(data_clean2.groupby(['intercom', 'building_condition'],dropna=False)['building_condition', 'id'].agg(pd.Series.count))
# display(data_clean2.groupby(['intercom', 'surroundings_type'],dropna=False)['surroundings_type', 'id'].agg(pd.Series.count))

I couldn´t conclude anything from the above, so I´ll replace it by Unknown.

In [64]:
data_clean2['intercom'] = data_clean2['intercom'].fillna('Unknown')

14. address 2

In [65]:
# for col in data_clean2.columns:
#     if 'address' in col:
#         print(col)

In [66]:
# display(data_clean2.groupby(['address2', 'address'],dropna=False)['address', 'id'].agg(pd.Series.count))

I´ll replace it by Unknown. I´ll use this column to fill address: "Ask for the exact address".

In [67]:
data_clean2['address2'] = data_clean2['address2'].fillna('Unknown')

15. website

I´ll replace it by Unknown. Not sure if I´ll use it.

In [68]:
data_clean2['website'] = data_clean2['website'].fillna('Unknown')

16. external_reference

I´ll replace it by Unknown. Not sure if I´ll use it.

In [69]:
data_clean2['external_reference'] = data_clean2['external_reference'].fillna('Unknown')

17. agency

I´ll replace it by Unknown. Not sure if I´ll use it.

In [70]:
data_clean2['agency'] = data_clean2['agency'].fillna('Unknown')

18. building_condition

In [71]:
# display(data_clean2.groupby(['building_condition', 'construction_year'],dropna=False)['construction_year', 'id'].agg(pd.Series.count))

It doesn´t give much information, so I´ll replace it with Unknown.

In [72]:
data_clean2['building_condition'] = data_clean2['building_condition'].fillna('Unknown')

19. elevator

In [73]:
# display(data_clean2.groupby(['elevator', 'type_of_building'],dropna=False)['type_of_building', 'id'].agg(pd.Series.count))
# display(data_clean2.groupby(['elevator', 'accessible_for_disabled_people'],dropna=False)['accessible_for_disabled_people', 'id'].agg(pd.Series.count))
# display(data_clean2.groupby(['elevator', 'accessible_for_disabled_people', 'type_of_building'],dropna=False)['accessible_for_disabled_people', 'type_of_building', 'id'].agg(pd.Series.count))

It doesn´t give much information, so I´ll replace it with Unknown.

In [74]:
data_clean2['elevator'] = data_clean2['elevator'].fillna('Unknown')

20. accessible_for_disabled_people

In [75]:
# display(data_clean2.groupby(['accessible_for_disabled_people', 'elevator'],dropna=False)['elevator', 'id'].agg(pd.Series.count))

It doesn´t give much information, because the fact that it doesn´t have an elevator doesn´t mean that it´s not accesible (if it doesn´t have stairs, still could be accessible).

In [76]:
data_clean2['accessible_for_disabled_people'] = data_clean2['accessible_for_disabled_people'].fillna('Unknown')

21. swimming_pool

In [77]:
data_clean2['swimming_pool'] = data_clean2['swimming_pool'].fillna('Unknown')

22. available_as_of

In [78]:
data_clean2['available_as_of'] = data_clean2['available_as_of'].fillna('Unknown')

23. description

In [79]:
data_clean2['description'] = data_clean2['description'].fillna('No description')

##### Cleaning Data - Check NaN Values - Treating Columns that contains between half and 100 values .

In [80]:
# for i in row_3377:
#     print(i)
#     display(data_clean1[i].unique())

I´ll only treat those columns I consider relevant. Others I´ll drop them.
I´ll do a quick look to the unique values to replace them.
I´m going to substitute unknown numerical values for impossible values for me to know they are made up when I treat numericals.

In [81]:
data_clean3 = pd.DataFrame()

for i in row_0:
    if i in data_clean2.columns:
        data_clean3[i] = data_clean2[i]
        
for i in row_100:
    if i in data_clean2.columns:
        data_clean3[i] = data_clean2[i]

for i in row_1738:
    if i in data_clean2.columns:
        data_clean3[i] = data_clean2[i]

# data_clean3.head(1)

In [82]:
data_clean4 = data_clean3
data_clean4['type_of_building'] = data_clean2['type_of_building'].fillna('All kind')
data_clean4['outdoor_parking_spaces'] = data_clean2['outdoor_parking_spaces'].fillna(-1)
# bedroom_2_surface, bedroom_3_surface, bedroom_4_surface, bedroom_5_surface already treated, need to add them
data_clean4['bedroom_2_surface'] = data_clean2['bedroom_2_surface']
data_clean4['bedroom_3_surface'] = data_clean2['bedroom_3_surface']
data_clean4['bedroom_4_surface'] = data_clean2['bedroom_4_surface']
data_clean4['bedroom_5_surface'] = data_clean2['bedroom_5_surface']
data_clean4['construction_year'] = data_clean2['construction_year'].fillna(-1)
# leaving_room already treated need to add it
data_clean4['living_room'] = data_clean2['living_room']
data_clean4['dining_room'] = data_clean2['dining_room'].fillna('No')
data_clean4['laundry_room'] = data_clean2['laundry_room'].fillna('No')
data_clean4['basement'] = data_clean2['basement'].fillna('No')
data_clean4['air_conditioning'] = data_clean2['air_conditioning'].fillna('Unknown')
data_clean4['jacuzzi'] = data_clean2['jacuzzi'].fillna('Unknown')
data_clean4['sauna'] = data_clean2['sauna'].fillna('Unknown')
data_clean4['internet'] = data_clean2['internet'].fillna('Unknown')
data_clean4['surroundings_type'] = data_clean2['surroundings_type'].fillna('Unknown')
data_clean4['gas_water_and_electricity'] = data_clean2['gas_water_and_electricity'].fillna('Unknown')

In [83]:
#data_clean4.shape

##### Cleaning Data - Check NaN Values - Treating Columns that contains less than 100 values .

I won´t add them, so they´re already dropped.

##### Cleaning Data - Check NaN Values - Checking and Saving

In [84]:
# data_clean4.isna().sum()

In [85]:
data_clean_nans = data_clean4

In [86]:
# data_clean_nans.shape

In [87]:
# data_clean_nans = data_clean_nans.drop_duplicates(keep='first')

In [88]:
data_clean_nans["id"] = data_clean_nans.index + 1

In [89]:
data_clean_nans.to_csv('MPB-Dataset_Nan_Clean.csv', index=False)

### Cleaning Data - Split Categorical and Numerical

In [90]:
# data_clean_nans.head(1)

In [91]:
data_cat_raw = data_clean_nans.select_dtypes(include = object)
data_num_raw = data_clean_nans.select_dtypes(include = np.number)
data_cat_raw["id"] = data_cat_raw.index + 1
# data_num_raw["id"] = data_num_raw.index + 1

### Cleaning Data - Categorical

If in the process I generate NaN, I´ll replace for values I´ll recognise I generated them.
I´ll discard some columns, and decide later if I want to go back and extract information.

In [92]:
# for col in data_cat_raw.columns:
#     print(f'\n {col}: \n', data_cat_raw[col].unique())

In [93]:
data_cat_cleaning = data_cat_raw
data_cat_cleaning.drop(['reference_number_of_the_epc_report'], axis=1, inplace=True) #It´s an identifier
data_cat_cleaning.drop(['website'], axis=1, inplace=True)
data_cat_cleaning.drop(['external_reference'], axis=1, inplace=True)
data_cat_cleaning.drop(['agency'], axis=1, inplace=True)
data_cat_cleaning.drop(['description'], axis=1, inplace=True)

1. space

In [94]:
data_cat_cleaning['number_bedrooms'] = data_cat_cleaning['space'].str.extract('(\d+ bedroom)')
data_cat_cleaning['meters_bedrooms_space'] = data_cat_cleaning['space'].str.extract('(\d+ m²\nsquare meters)')
# data_cat_cleaning.head(60)

In [95]:
data_cat_cleaning['number_bedrooms'] = data_cat_cleaning['number_bedrooms'].str.extract('(\d+)')
data_cat_cleaning['meters_bedrooms_space'] = data_cat_cleaning['meters_bedrooms_space'].str.extract('(\d+)')
# data_cat_cleaning.head(60)

In [96]:
# data_cat_cleaning[(data_cat_cleaning['meters_bedrooms_space'].isna())]

In [97]:
# display(data_cat_cleaning.groupby(['bedrooms', 'meters_bedrooms_space'],dropna=False)['meters_bedrooms_space', 'id'].agg(pd.Series.count))

In [98]:
data_cat_cleaning['meters_bedrooms_space'] = data_cat_cleaning['meters_bedrooms_space'].fillna(-1)
data_cat_cleaning['number_bedrooms'] = data_cat_cleaning['number_bedrooms'].fillna(-1)

In [99]:
data_cat_cleaning.drop(['space'], axis=1, inplace=True)

2. bedrooms, terrace_surface, bedroom_1_surface, bedroom_2_surface, bedroom_3_surface, bedroom_4_surface, bedroom_5_surface, primary_energy_consumption, co2_emission

In [100]:
regex_2 = '(\d+)'
data_cat_cleaning['bedrooms'] = data_cat_cleaning['bedrooms'].str.extract('(\d+)')
data_cat_cleaning['terrace_surface'] = data_cat_cleaning['terrace_surface'].str.extract('(\d+)')
data_cat_cleaning['bedroom_1_surface'] = data_cat_cleaning['bedroom_1_surface'].str.extract('(\d+)')
data_cat_cleaning['bedroom_2_surface'] = data_cat_cleaning['bedroom_2_surface'].str.extract('(\d+)')
data_cat_cleaning['bedroom_3_surface'] = data_cat_cleaning['bedroom_3_surface'].str.extract('(\d+)')
data_cat_cleaning['bedroom_4_surface'] = data_cat_cleaning['bedroom_4_surface'].str.extract('(\d+)')
data_cat_cleaning['bedroom_5_surface'] = data_cat_cleaning['bedroom_5_surface'].str.extract('(\d+)')
data_cat_cleaning['primary_energy_consumption'] = data_cat_cleaning['primary_energy_consumption'].str.extract('(\d+)')
data_cat_cleaning['co2_emission'] = data_cat_cleaning['co2_emission'].str.extract('(\d+)')

data_cat_cleaning['bedrooms'] = data_cat_cleaning['bedrooms'].fillna(-1)
data_cat_cleaning['terrace_surface'] = data_cat_cleaning['terrace_surface'].fillna(-1)
data_cat_cleaning['bedroom_1_surface'] = data_cat_cleaning['bedroom_1_surface'].fillna(-1)
data_cat_cleaning['bedroom_2_surface'] = data_cat_cleaning['bedroom_2_surface'].fillna(-1)
data_cat_cleaning['bedroom_3_surface'] = data_cat_cleaning['bedroom_3_surface'].fillna(-1)
data_cat_cleaning['bedroom_4_surface'] = data_cat_cleaning['bedroom_4_surface'].fillna(-1)
data_cat_cleaning['bedroom_5_surface'] = data_cat_cleaning['bedroom_5_surface'].fillna(-1)
data_cat_cleaning['primary_energy_consumption'] = data_cat_cleaning['primary_energy_consumption'].fillna(-1)
data_cat_cleaning['co2_emission'] = data_cat_cleaning['co2_emission'].fillna(-1)

# display(data_cat_cleaning['co2_emission'].unique())

2. living_area, living_room_surface

In [101]:
data_cat_cleaning['living_area_clean'] = data_cat_cleaning['living_area'].str.extract('([<>] than \d+|\d+)')
data_cat_cleaning['living_area_clean'] = data_cat_cleaning['living_area_clean'].fillna('Unknown')
data_cat_cleaning.drop(['living_area'], axis=1, inplace=True)
# display(data_cat_cleaning['living_area_clean'].unique())

In [102]:
data_cat_cleaning['living_room_surface_clean'] = data_cat_cleaning['living_room_surface'].str.extract('([<>] than \d+|\d+)')
data_cat_cleaning['living_room_surface_clean'] = data_cat_cleaning['living_room_surface_clean'].fillna('Unknown')
data_cat_cleaning.drop(['living_room_surface'], axis=1, inplace=True)
# display(data_cat_cleaning['living_room_surface_clean'].unique())

3. address and address2

I´ll extract postcode, municipality and street.

In [103]:
data_cat_cleaning['postcode'] = data_cat_cleaning['address'].str.extract('(\d+)')
data_cat_cleaning['postcode'] = data_cat_cleaning['postcode'].fillna(-1)
data_cat_cleaning.drop(['address'], axis=1, inplace=True)
# data_cat_cleaning['postcode'].unique()

In [104]:
data_cat_cleaning['municipality'] = data_cat_cleaning['address2'].str.extract('(- \w+)')
data_cat_cleaning['municipality'] = data_cat_cleaning['municipality'].str.lower()
data_cat_cleaning['municipality'] = data_cat_cleaning['municipality'].str.replace("- ", "")
data_cat_cleaning['municipality'] = data_cat_cleaning['municipality'].fillna('Unknown')
# data_cat_cleaning['municipality'].unique()

In [105]:
data_cat_cleaning['street'] = data_cat_cleaning['address2'].str.extract('([ \w]+ \d)')
data_cat_cleaning['street'] = data_cat_cleaning['street'].str.lower()
data_cat_cleaning['street'] = data_cat_cleaning['street'].str.replace("([\d]+$)", "")
data_cat_cleaning['street'] = data_cat_cleaning['street'].str.replace("([\d]+[ \w]+$)", "")
data_cat_cleaning['street'] = data_cat_cleaning['street'].str.replace("( +$)", "")
data_cat_cleaning['street'] = data_cat_cleaning['street'].str.replace("( +$)", "")
data_cat_cleaning['street'] = data_cat_cleaning['street'].str.replace("(^ +)", "")
data_cat_cleaning['street'] = data_cat_cleaning['street'].fillna('Unknown')
# data_cat_cleaning['street'].unique()

C:\Users\PC\AppData\Local\Temp\ipykernel_132\2856856144.py:3: FutureWarning: The default value of regex will change from True to False in a future version.
  data_cat_cleaning['street'] = data_cat_cleaning['street'].str.replace("([\d]+$)", "")
C:\Users\PC\AppData\Local\Temp\ipykernel_132\2856856144.py:4: FutureWarning: The default value of regex will change from True to False in a future version.
  data_cat_cleaning['street'] = data_cat_cleaning['street'].str.replace("([\d]+[ \w]+$)", "")
C:\Users\PC\AppData\Local\Temp\ipykernel_132\2856856144.py:5: FutureWarning: The default value of regex will change from True to False in a future version.
  data_cat_cleaning['street'] = data_cat_cleaning['street'].str.replace("( +$)", "")
C:\Users\PC\AppData\Local\Temp\ipykernel_132\2856856144.py:6: FutureWarning: The default value of regex will change from True to False in a future version.
  data_cat_cleaning['street'] = data_cat_cleaning['street'].str.replace("( +$)", "")
C:\Users\PC\AppData\Local\Temp\ipykernel_132\2856856144.py:7: FutureWarning: The default value of regex will change from True to False in a future version.
  data_cat_cleaning['street'] = data_cat_cleaning['street'].str.replace("(^ +)", "")

In [106]:
data_cat_cleaning.drop(['address2'], axis=1, inplace=True)

4. price

There are two patterns: 

€1,000 (+ €75) 1000€ + 75€ per month and €1,000/month 1000€ per month, which is always 1000€ + 75€ per month and month 1000€ per month (end of the string).

First, I´m going to divide in two columns. Then, I´m going to clean the text.

In [107]:
data_cat_cleaning['basic_price'] = data_cat_cleaning['price'].str.extract('(\n[\d]+€ \+ |/month\n[\d]+€)')
data_cat_cleaning['basic_price'] = data_cat_cleaning['basic_price'].str.extract('([\d]+)')

data_cat_cleaning['extra_price'] = data_cat_cleaning['price'].str.extract('(\+ [\d]+€ per month$)')
data_cat_cleaning['extra_price'] = data_cat_cleaning['extra_price'].str.extract('([\d]+)')
data_cat_cleaning['extra_price'] = data_cat_cleaning['extra_price'].fillna(0)
data_cat_cleaning.drop(['price'], axis=1, inplace=True)
# display(data_cat_cleaning['extra_price'].unique())
# display(data_cat_cleaning['basic_price'].unique())
# data_cat_cleaning.head(60)

In [108]:
# data_cat_cleaning[(data_cat_cleaning['basic_price'].isna()==True)]

I´ll handle this unique NaN result manually:

In [109]:
data_cat_cleaning.loc[3343,'basic_price'] = 2100

### Cleaning Data - Numerical

In [110]:
data_num_cleaning = data_num_raw

In [111]:
# for col in data_num_raw.columns:
#     print(f'\n {col}: \n', data_num_raw[col].unique())

Don´t need to do much

### Wrangling Data

In [112]:
data_cat_wra = data_cat_cleaning

##### Wrangling Data  - First drop of columns

In [113]:
data_cat_wra = data_cat_wra[['id', 'primary_energy_consumption', 'energy_class', 'co2_emission', 'listing_type', 'tenement_building', 'kitchen_type', 'bedrooms', 'bathrooms', 'toilets', 'heating_type', 'double_glazing', 'number_of_frontages', 'bedroom_1_surface', 'furnished', 'terrace_surface', 'intercom', 'building_condition', 'elevator', 'accessible_for_disabled_people', 'swimming_pool', 'available_as_of', 'shower_rooms', 'type_of_building', 'bedroom_2_surface', 'bedroom_3_surface', 'bedroom_4_surface', 'bedroom_5_surface', 'living_room', 'dining_room', 'laundry_room', 'basement', 'air_conditioning', 'jacuzzi', 'sauna', 'internet', 'surroundings_type', 'gas_water_and_electricity', 'number_bedrooms', 'meters_bedrooms_space', 'living_area_clean', 'living_room_surface_clean', 'postcode', 'municipality', 'street', 'basic_price', 'extra_price']]

##### Wrangling Data  - Clasify for analysis

In [114]:
# for col in data_cat_wra.columns:
#    print(f'\n {col}: \n', data_cat_wra[col].unique())

These are numericals:

In [115]:
data_cat_wra_m2 = data_cat_wra[['id','bedroom_1_surface', 'terrace_surface', 'bedroom_2_surface', 'bedroom_3_surface', 'bedroom_4_surface', 'bedroom_5_surface', 'meters_bedrooms_space', 'living_area_clean', 'living_room_surface_clean']]
data_cat_wra_target = data_cat_wra[['id','basic_price', 'extra_price']]
data_cat_wra_numbers_items = data_cat_wra[['id','bedrooms', 'bathrooms', 'toilets', 'number_of_frontages', 'shower_rooms', 'number_bedrooms']]
data_cat_wra_other_measures = data_cat_wra[['id','primary_energy_consumption', 'co2_emission']]

These are kept as categorical:

In [116]:
data_cat_wra_yes_no = data_cat_wra[['id', 'tenement_building', 'double_glazing', 'furnished', 'intercom', 'elevator', 'accessible_for_disabled_people', 'swimming_pool', 'living_room', 'dining_room', 'laundry_room', 'basement', 'air_conditioning', 'jacuzzi', 'sauna', 'internet', 'gas_water_and_electricity']]
data_cat_wra_few = data_cat_wra[['id', 'energy_class', 'listing_type', 'kitchen_type', 'heating_type', 'building_condition', 'available_as_of', 'type_of_building', 'surroundings_type', 'postcode']]
data_cat_wra_too_many = data_cat_wra[['id', 'municipality', 'street']]

In [117]:
# display(data_cat_wra.shape)
# display(data_cat_wra_m2.shape + data_cat_wra_target.shape + data_cat_wra_numbers_items.shape + data_cat_wra_other_measures.shape + data_cat_wra_yes_no.shape + data_cat_wra_few.shape + data_cat_wra_too_many.shape)

##### Wrangling Data  -  data_cat_wra_target

In [118]:
data_cat_wra_target['basic_price'] =  pd.to_numeric(data_cat_wra_target['basic_price'], errors='coerce')
data_cat_wra_target['extra_price'] =  pd.to_numeric(data_cat_wra_target['extra_price'], errors='coerce')

C:\Users\PC\AppData\Local\Temp\ipykernel_132\2502924846.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_cat_wra_target['basic_price'] =  pd.to_numeric(data_cat_wra_target['basic_price'], errors='coerce')
C:\Users\PC\AppData\Local\Temp\ipykernel_132\2502924846.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_cat_wra_target['extra_price'] =  pd.to_numeric(data_cat_wra_target['extra_price'], errors='coerce')

In [119]:
data_cat_wra_target['target'] = data_cat_wra_target.loc[:,['basic_price', 'extra_price']].sum(axis=1)

C:\Users\PC\AppData\Local\Temp\ipykernel_132\592215154.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_cat_wra_target['target'] = data_cat_wra_target.loc[:,['basic_price', 'extra_price']].sum(axis=1)

##### Wrangling Data  -  data_cat_wra_yes_no

In [120]:
def countplot(df):
    for column in df.columns:
        plt.figure(figsize = (5, 3))
        sns.set_palette("ch:.25", color_codes=bool)
        sns.countplot(data = df, x = column)        
        plt.show()
    return None

In [121]:
# countplot(data_cat_wra_yes_no.drop(['id'], axis=1))

With this, I´ll decide to drop:

In [122]:
data_cat_wra_yes_no.drop(['tenement_building', 'jacuzzi', 'sauna', 'internet', 'gas_water_and_electricity'], axis=1, inplace=True)

C:\Users\PC\AppData\Local\Temp\ipykernel_132\3289728609.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_cat_wra_yes_no.drop(['tenement_building', 'jacuzzi', 'sauna', 'internet', 'gas_water_and_electricity'], axis=1, inplace=True)

In [123]:
def barplot(df):
    for column in df.columns:
        plt.figure(figsize = (5, 3))
        sns.barplot(data = df, x = column, y= data_cat_wra_target['target'])        
        plt.show()
    return None

In [124]:
# barplot(data_cat_wra_yes_no.drop(['id'], axis=1))

With this, I´ll decide to:

In [125]:
data_cat_wra_yes_no['double_glazing'] = data_cat_wra_yes_no['double_glazing'].replace('Unknown', 'Yes')# Doubt
data_cat_wra_yes_no['swimming_pool'] = data_cat_wra_yes_no['swimming_pool'].replace('Unknown', 'No') # It´s more likely the unknown are no, and the plot confirms the target is similar for 'unknowns' and 'nos'.
data_cat_wra_yes_no['air_conditioning'] = data_cat_wra_yes_no['air_conditioning'].replace('Unknown', 'No') # Same as for swimming_pool
data_cat_wra_yes_no.drop(['furnished', 'intercom', 'elevator', 'accessible_for_disabled_people', 'living_room'], axis=1, inplace=True)

C:\Users\PC\AppData\Local\Temp\ipykernel_132\2605527891.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_cat_wra_yes_no['double_glazing'] = data_cat_wra_yes_no['double_glazing'].replace('Unknown', 'Yes')# Doubt
C:\Users\PC\AppData\Local\Temp\ipykernel_132\2605527891.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_cat_wra_yes_no['swimming_pool'] = data_cat_wra_yes_no['swimming_pool'].replace('Unknown', 'No') # It´s more likely the unknown are no, and the plot confirms the target is similar for 'unknowns' and 'nos'.
C:\Users\PC\AppData\Local\Temp\ipykernel_132\2605527891.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_cat_wra_yes_no['air_conditioning'] = data_cat_wra_yes_no['air_conditioning'].replace('Unknown', 'No') # Same as for swimming_pool
C:\Users\PC\AppData\Local\Temp\ipykernel_132\2605527891.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_cat_wra_yes_no.drop(['furnished', 'intercom', 'elevator', 'accessible_for_disabled_people', 'living_room'], axis=1, inplace=True)

In [126]:
# data_cat_wra_yes_no.head(60)

##### Wrangling Data - data_cat_wra_few

In [127]:
def countplot2(df):
    for column in df.columns:
        plt.figure(figsize = (5, 6))
        sns.countplot(data = df, y = column)        
        plt.show()
    return None

In [128]:
# countplot2(data_cat_wra_few.drop(['id'], axis=1))

With this information, I´ll take these decisions:

In [129]:
substitutions1 = {
'Apartment for rent': 'Apartment', 'Studio for rent': 'Other', 'Ground floor for rent': 'Other',
       'Penthouse for rent': 'Other', 'Duplex for rent': 'Other',
       'Exceptional property for rent': 'Other', 'House for rent': 'Other', 'Loft for rent': 'Other',
       'Triplex for rent': 'Other', 'Apartment block for rent': 'Other',
       'Town-house for rent': 'Other', 'Villa for rent': 'Other',
       'Student housing for rent': 'Other', 'Mansion for rent': 'Other',
       'Mixed-use building for rent': 'Other', 'Service flat for rent': 'Other', 'Calle Alta': 'Other'    
}
data_cat_wra_few['listing_type'] = data_cat_wra_few['listing_type'].map(substitutions1)
data_cat_wra_few['listing_type'] = data_cat_wra_few['listing_type'].fillna('Other')

C:\Users\PC\AppData\Local\Temp\ipykernel_132\2949373783.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_cat_wra_few['listing_type'] = data_cat_wra_few['listing_type'].map(substitutions1)
C:\Users\PC\AppData\Local\Temp\ipykernel_132\2949373783.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_cat_wra_few['listing_type'] = data_cat_wra_few['listing_type'].fillna('Other')

In [130]:
substitutions2 = {
  'USA installed': 'Installed', 'Installed': 'Installed', 'USA hyper equipped': 'USA hyper equipped',
       'Hyper equipped': 'Hyper equipped', 'Unknown': 'Unknown', 'Not installed': 'Not installed', 'Semi equipped': 'Semi equipped',
       'USA semi equipped': 'Semi equipped', 'USA uninstalled': 'Not installed'
}
data_cat_wra_few['kitchen_type'] = data_cat_wra_few['kitchen_type'].map(substitutions2)

C:\Users\PC\AppData\Local\Temp\ipykernel_132\2564565829.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_cat_wra_few['kitchen_type'] = data_cat_wra_few['kitchen_type'].map(substitutions2)

In [131]:
substitutions3 = {
  'Gas': 'Gas', 'Unknown': 'Unknown', 'Fuel oil': 'Other', 'Electric': 'Other'
}
data_cat_wra_few['heating_type'] = data_cat_wra_few['heating_type'].map(substitutions3)

C:\Users\PC\AppData\Local\Temp\ipykernel_132\3845867500.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_cat_wra_few['heating_type'] = data_cat_wra_few['heating_type'].map(substitutions3)

In [132]:
substitutions4 = {
  'Unknown': 'Unknown', 'Good': 'Good', 'As new': 'Renovated', 'Just renovated': 'Renovated', 'To renovate': 'No renovated',
       'To be done up': 'No renovated', 'To restore': 'No renovated'
}
data_cat_wra_few['building_condition'] = data_cat_wra_few['building_condition'].map(substitutions4)

C:\Users\PC\AppData\Local\Temp\ipykernel_132\2333769297.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_cat_wra_few['building_condition'] = data_cat_wra_few['building_condition'].map(substitutions4)

In [133]:
substitutions5 = {
'Unknown': 'To be defined', 'Immediately': 'Immediately', 'To be defined': 'To be defined',
       'Depending on the tenant': 'To be defined', 'After signing the deed': 'Immediately', 'At delivery': 'Immediately'
}
data_cat_wra_few['available_as_of'] = data_cat_wra_few['available_as_of'].map(substitutions5)

C:\Users\PC\AppData\Local\Temp\ipykernel_132\156508882.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_cat_wra_few['available_as_of'] = data_cat_wra_few['available_as_of'].map(substitutions5)

In [134]:
data_cat_wra_few.drop(['type_of_building'], axis=1, inplace=True)

C:\Users\PC\AppData\Local\Temp\ipykernel_132\294069990.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_cat_wra_few.drop(['type_of_building'], axis=1, inplace=True)

In [135]:
data_cat_wra_few.drop(['surroundings_type'], axis=1, inplace=True)

C:\Users\PC\AppData\Local\Temp\ipykernel_132\446181104.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_cat_wra_few.drop(['surroundings_type'], axis=1, inplace=True)

In [136]:
substitutions6 = {
'1190': '1190', -1: 'Other', '1040': '1040', '1060': '1060', '1000': '1000', '1050': '1050', '1030': '1030', '1070': '1070', '1200': '1200',
       '1170': 'Other', '1180': '1180', '1140': '1140', '9300': 'Other', '1700': 'Other', '9660': 'Other', '9700': 'Other', '8500': 'Other',
       '2800': 'Other', '1083': 'Other', '1210': 'Other', '1090': 'Other', '1150': '1150', '1160': '1160', '1080': 'Other', '1081': 'Other',
       '1120': 'Other', '1082': 'Other', '1020': 'Other'
}
data_cat_wra_few['postcode'] = data_cat_wra_few['postcode'].map(substitutions6)

C:\Users\PC\AppData\Local\Temp\ipykernel_132\828851745.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_cat_wra_few['postcode'] = data_cat_wra_few['postcode'].map(substitutions6)

In [137]:
def barplot2(df):
    for column in df.columns:
        plt.figure(figsize = (5, 6))
        sns.barplot(data = df, y = column, x= data_cat_wra_target['target'])        
        plt.show()
    return None

In [138]:
data_cat_wra_few.drop(['energy_class'], axis=1, inplace=True)

C:\Users\PC\AppData\Local\Temp\ipykernel_132\2776603882.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_cat_wra_few.drop(['energy_class'], axis=1, inplace=True)

In [139]:
substitutions2 = {
  'Installed': 'Installed', 'USA hyper equipped': 'Hyper equipped',
       'Hyper equipped': 'Hyper equipped', 'Unknown': 'Not installed', 'Not installed': 'Not installed', 'Semi equipped': 'Semi equipped',
}
data_cat_wra_few['kitchen_type'] = data_cat_wra_few['kitchen_type'].map(substitutions2)

C:\Users\PC\AppData\Local\Temp\ipykernel_132\2246132629.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_cat_wra_few['kitchen_type'] = data_cat_wra_few['kitchen_type'].map(substitutions2)

In [140]:
data_cat_wra_few.drop(['heating_type'], axis=1, inplace=True)

C:\Users\PC\AppData\Local\Temp\ipykernel_132\405185711.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_cat_wra_few.drop(['heating_type'], axis=1, inplace=True)

In [141]:
substitutions4 = {
  'Unknown': 'Good', 'Good': 'Good',
       'Renovated': 'Renovated', 'No renovated': 'No renovated'
}
data_cat_wra_few['building_condition'] = data_cat_wra_few['building_condition'].map(substitutions4)

C:\Users\PC\AppData\Local\Temp\ipykernel_132\5016037.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_cat_wra_few['building_condition'] = data_cat_wra_few['building_condition'].map(substitutions4)

In [142]:
data_cat_wra_few.drop(['available_as_of'], axis=1, inplace=True)

C:\Users\PC\AppData\Local\Temp\ipykernel_132\2461868476.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_cat_wra_few.drop(['available_as_of'], axis=1, inplace=True)

In [143]:
# barplot2(data_cat_wra_few.drop(['id'], axis=1))

In [144]:
substitutions6 = {
'1190': '1190', 'Other': 'Other', '1040': '1040-1060-1000-1150-1160', '1060': '1040-1060-1000-1150-1160', '1000': '1040-1060-1000-1150-1160', '1050': '1050-1200', '1030': '1030', '1070': '1070', '1200': '1050-1200',
       '1180': '1180', '1140': '1140',
       '1150': '1040-1060-1000-1150-1160', '1160': '1040-1060-1000-1150-1160',
}
data_cat_wra_few['postcode'] = data_cat_wra_few['postcode'].map(substitutions6)

C:\Users\PC\AppData\Local\Temp\ipykernel_132\4193307195.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_cat_wra_few['postcode'] = data_cat_wra_few['postcode'].map(substitutions6)

##### Wrangling Data - data_cat_wra_too_many

In [145]:
# pd.crosstab(data_cat_wra_too_many['municipality'], data_cat_wra_few['postcode'])

In [146]:
for row in range(len(data_cat_wra_too_many['municipality'])):
    if data_cat_wra_too_many.loc[row,'municipality'] == 'Unknown':
        data_cat_wra_too_many.loc[row,'municipality'] = 'Other'       
    elif data_cat_wra_too_many.loc[row,'municipality'] == 'bruxelles':
        data_cat_wra_too_many.loc[row,'municipality'] = 'bruxelles'     
    elif data_cat_wra_too_many.loc[row,'municipality'] == 'etterbeek':
        data_cat_wra_too_many.loc[row,'municipality'] = 'etterbeek'
    elif data_cat_wra_too_many.loc[row,'municipality'] == 'ixelles':
        data_cat_wra_too_many.loc[row,'municipality'] = 'ixelles'  
    elif data_cat_wra_too_many.loc[row,'municipality'] == 'uccle':
        data_cat_wra_too_many.loc[row,'municipality'] = 'uccle'         
    elif data_cat_wra_too_many.loc[row,'municipality'] == 'woluwe':
        data_cat_wra_too_many.loc[row,'municipality'] = 'woluwe' 
    else:
        data_cat_wra_too_many.loc[row,'municipality'] = 'Other'

In [147]:
# data_cat_wra_too_many['municipality'].unique()

In [148]:
# pd.crosstab(data_cat_wra_too_many['street'], data_cat_wra_few['postcode'])

In [149]:
for row in range(len(data_cat_wra_too_many['street'])):
    if data_cat_wra_too_many.loc[row,'street'] == 'Unknown':
        data_cat_wra_too_many.loc[row,'street'] = 'Other'       
    elif data_cat_wra_too_many.loc[row,'street'] == 'avenue louise':
        data_cat_wra_too_many.loc[row,'street'] = 'avenue louise'     
    elif data_cat_wra_too_many.loc[row,'street'] == 'chaussée de waterloo':
        data_cat_wra_too_many.loc[row,'street'] = 'chaussée de waterloo'
    elif data_cat_wra_too_many.loc[row,'street'] == 'place burgmann':
        data_cat_wra_too_many.loc[row,'street'] = 'place burgmann'  
    else:
        data_cat_wra_too_many.loc[row,'street'] = 'Other'

In [150]:
data_cat_wra_too_many['street'].unique()

array(['Other', 'chaussée de waterloo', 'avenue louise', 'place burgmann'],
      dtype=object)

##### Wrangling Data - data_cat_wra_m2

In [151]:
# data_cat_wra_m2.head(60)

In [152]:
data_cat_wra_m2.drop(['meters_bedrooms_space'], axis=1, inplace=True)

C:\Users\PC\AppData\Local\Temp\ipykernel_132\3559268172.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_cat_wra_m2.drop(['meters_bedrooms_space'], axis=1, inplace=True)

To calculate the > I´m going to calculate the average diference between living_room_surface_clean and the living_area_clean, and then, I´ll add it to the result.

In [153]:
result = data_cat_wra_m2[(data_cat_wra_m2['living_area_clean'].str.match(r'(\d+)')) & (data_cat_wra_m2['living_room_surface_clean'].str.match(r'(\d+)'))]
result['living_area_clean'] =  pd.to_numeric(result['living_area_clean'], errors='coerce')
result['living_room_surface_clean'] =  pd.to_numeric(result['living_room_surface_clean'], errors='coerce')
result['difference'] = result['living_area_clean'] - result['living_room_surface_clean']
mean_difference = result['difference'].mean()
mean_difference

C:\Users\PC\AppData\Local\Temp\ipykernel_132\784622504.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  result['living_area_clean'] =  pd.to_numeric(result['living_area_clean'], errors='coerce')
C:\Users\PC\AppData\Local\Temp\ipykernel_132\784622504.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  result['living_room_surface_clean'] =  pd.to_numeric(result['living_room_surface_clean'], errors='coerce')
C:\Users\PC\AppData\Local\Temp\ipykernel_132\784622504.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  result['difference'] = result['living_area_clean'] - result['living_room_surface_clean']

89.76891823260539

In [154]:
data_cat_wra_m2['living_area_clean'] = np.where(data_cat_wra_m2['living_area_clean'] == 'Unknown', np.nan, data_cat_wra_m2['living_area_clean'])

C:\Users\PC\AppData\Local\Temp\ipykernel_132\637592620.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_cat_wra_m2['living_area_clean'] = np.where(data_cat_wra_m2['living_area_clean'] == 'Unknown', np.nan, data_cat_wra_m2['living_area_clean'])

In [155]:
data_cat_wra_m2['extract'] = data_cat_wra_m2['living_area_clean'].str.extract('(\d+)')
data_cat_wra_m2['extract'] =  pd.to_numeric(data_cat_wra_m2['extract'], errors='coerce')

C:\Users\PC\AppData\Local\Temp\ipykernel_132\1661124372.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_cat_wra_m2['extract'] = data_cat_wra_m2['living_area_clean'].str.extract('(\d+)')
C:\Users\PC\AppData\Local\Temp\ipykernel_132\1661124372.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_cat_wra_m2['extract'] =  pd.to_numeric(data_cat_wra_m2['extract'], errors='coerce')

In [156]:
data_cat_wra_m2['living_area_clean'] = data_cat_wra_m2['living_area_clean'].str.replace('(> than \d+)', '0')

C:\Users\PC\AppData\Local\Temp\ipykernel_132\1566920122.py:1: FutureWarning: The default value of regex will change from True to False in a future version.
  data_cat_wra_m2['living_area_clean'] = data_cat_wra_m2['living_area_clean'].str.replace('(> than \d+)', '0')
C:\Users\PC\AppData\Local\Temp\ipykernel_132\1566920122.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_cat_wra_m2['living_area_clean'] = data_cat_wra_m2['living_area_clean'].str.replace('(> than \d+)', '0')

In [157]:
data_cat_wra_m2['living_area_clean'] =  pd.to_numeric(data_cat_wra_m2['living_area_clean'], errors='coerce')
data_cat_wra_m2['living_area_clean'] = np.where(data_cat_wra_m2['living_area_clean'] == 0, data_cat_wra_m2['extract']+mean_difference, data_cat_wra_m2['living_area_clean'])

C:\Users\PC\AppData\Local\Temp\ipykernel_132\1537391873.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_cat_wra_m2['living_area_clean'] =  pd.to_numeric(data_cat_wra_m2['living_area_clean'], errors='coerce')
C:\Users\PC\AppData\Local\Temp\ipykernel_132\1537391873.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_cat_wra_m2['living_area_clean'] = np.where(data_cat_wra_m2['living_area_clean'] == 0, data_cat_wra_m2['extract']+mean_difference, data_cat_wra_m2['living_area_clean'])

In [158]:
mean_living_area = data_cat_wra_m2['living_area_clean'].mean()

In [159]:
data_cat_wra_m2['living_area_clean'] = data_cat_wra_m2['living_area_clean'].fillna(mean_living_area)

C:\Users\PC\AppData\Local\Temp\ipykernel_132\670230511.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_cat_wra_m2['living_area_clean'] = data_cat_wra_m2['living_area_clean'].fillna(mean_living_area)

In [160]:
data_cat_wra_m2 = data_cat_wra_m2[['id', 'living_area_clean']]

In [161]:
data_cat_wra_m2['living_area_clean'] = data_cat_wra_m2['living_area_clean'].astype('int')
# data_cat_wra_m2.head(10)

##### Wrangling Data - data_cat_wra_numbers_items

In [162]:
# data_cat_wra_numbers_items.head(10)

In [163]:
def barplot3(df):
    for column in df.columns:
        plt.figure(figsize = (5, 12))
        sns.barplot(data = df, y = column, x= data_cat_wra_target['target'])        
        plt.show()
    return None

In [164]:
# barplot3(data_cat_wra_numbers_items.drop(['id'], axis=1))

In [165]:
data_cat_wra_numbers_items.drop(['bedrooms'], axis=1, inplace=True)

C:\Users\PC\AppData\Local\Temp\ipykernel_132\1985692431.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_cat_wra_numbers_items.drop(['bedrooms'], axis=1, inplace=True)

In [166]:
data_cat_wra_numbers_items['bathrooms'] = np.where(data_cat_wra_numbers_items['bathrooms'] == 'Unknown', 1, data_cat_wra_numbers_items['bathrooms'])
data_cat_wra_numbers_items['bathrooms'] =  pd.to_numeric(data_cat_wra_numbers_items['bathrooms'], errors='coerce')

C:\Users\PC\AppData\Local\Temp\ipykernel_132\2950650933.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_cat_wra_numbers_items['bathrooms'] = np.where(data_cat_wra_numbers_items['bathrooms'] == 'Unknown', 1, data_cat_wra_numbers_items['bathrooms'])
C:\Users\PC\AppData\Local\Temp\ipykernel_132\2950650933.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_cat_wra_numbers_items['bathrooms'] =  pd.to_numeric(data_cat_wra_numbers_items['bathrooms'], errors='coerce')

In [167]:
data_cat_wra_numbers_items['toilets'] = np.where(data_cat_wra_numbers_items['toilets'] == 'Unknown', 1, data_cat_wra_numbers_items['toilets'])
data_cat_wra_numbers_items['toilets'] =  pd.to_numeric(data_cat_wra_numbers_items['toilets'], errors='coerce')

C:\Users\PC\AppData\Local\Temp\ipykernel_132\341195952.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_cat_wra_numbers_items['toilets'] = np.where(data_cat_wra_numbers_items['toilets'] == 'Unknown', 1, data_cat_wra_numbers_items['toilets'])
C:\Users\PC\AppData\Local\Temp\ipykernel_132\341195952.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_cat_wra_numbers_items['toilets'] =  pd.to_numeric(data_cat_wra_numbers_items['toilets'], errors='coerce')

In [168]:
data_cat_wra_numbers_items.drop(['number_of_frontages'], axis=1, inplace=True)

C:\Users\PC\AppData\Local\Temp\ipykernel_132\2067451719.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_cat_wra_numbers_items.drop(['number_of_frontages'], axis=1, inplace=True)

In [169]:
data_cat_wra_numbers_items['shower_rooms'] = np.where(data_cat_wra_numbers_items['shower_rooms'] == 'Unknown', 1, data_cat_wra_numbers_items['shower_rooms'])
data_cat_wra_numbers_items['shower_rooms'] =  pd.to_numeric(data_cat_wra_numbers_items['shower_rooms'], errors='coerce')

C:\Users\PC\AppData\Local\Temp\ipykernel_132\2631953994.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_cat_wra_numbers_items['shower_rooms'] = np.where(data_cat_wra_numbers_items['shower_rooms'] == 'Unknown', 1, data_cat_wra_numbers_items['shower_rooms'])
C:\Users\PC\AppData\Local\Temp\ipykernel_132\2631953994.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_cat_wra_numbers_items['shower_rooms'] =  pd.to_numeric(data_cat_wra_numbers_items['shower_rooms'], errors='coerce')

In [170]:
data_cat_wra_numbers_items['number_bedrooms'] = np.where(data_cat_wra_numbers_items['number_bedrooms'] == 'Unknown', -1, 1)
data_cat_wra_numbers_items['number_bedrooms'] =  pd.to_numeric(data_cat_wra_numbers_items['number_bedrooms'], errors='coerce')

C:\Users\PC\AppData\Local\Temp\ipykernel_132\2849114973.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_cat_wra_numbers_items['number_bedrooms'] = np.where(data_cat_wra_numbers_items['number_bedrooms'] == 'Unknown', -1, 1)
C:\Users\PC\AppData\Local\Temp\ipykernel_132\2849114973.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_cat_wra_numbers_items['number_bedrooms'] =  pd.to_numeric(data_cat_wra_numbers_items['number_bedrooms'], errors='coerce')

##### Wrangling Data - data_cat_wra_other_measures

In [171]:
data_cat_wra_other_measures['primary_energy_consumption'] = np.where(data_cat_wra_other_measures['primary_energy_consumption'] == -1, '0', data_cat_wra_other_measures['primary_energy_consumption'])
data_cat_wra_other_measures['primary_energy_consumption'] = pd.to_numeric(data_cat_wra_other_measures['primary_energy_consumption'], errors='coerce')

data_cat_wra_other_measures['co2_emission'] = np.where(data_cat_wra_other_measures['co2_emission'] == -1, '0', data_cat_wra_other_measures['co2_emission'])
data_cat_wra_other_measures['co2_emission'] = pd.to_numeric(data_cat_wra_other_measures['co2_emission'], errors='coerce')

# data_cat_wra_other_measures['co2_emission'].unique()

C:\Users\PC\AppData\Local\Temp\ipykernel_132\2109239994.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_cat_wra_other_measures['primary_energy_consumption'] = np.where(data_cat_wra_other_measures['primary_energy_consumption'] == -1, '0', data_cat_wra_other_measures['primary_energy_consumption'])
C:\Users\PC\AppData\Local\Temp\ipykernel_132\2109239994.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_cat_wra_other_measures['primary_energy_consumption'] = pd.to_numeric(data_cat_wra_other_measures['primary_energy_consumption'], errors='coerce')
C:\Users\PC\AppData\Local\Temp\ipykernel_132\2109239994.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_cat_wra_other_measures['co2_emission'] = np.where(data_cat_wra_other_measures['co2_emission'] == -1, '0', data_cat_wra_other_measures['co2_emission'])
C:\Users\PC\AppData\Local\Temp\ipykernel_132\2109239994.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_cat_wra_other_measures['co2_emission'] = pd.to_numeric(data_cat_wra_other_measures['co2_emission'], errors='coerce')

In [172]:
data_cat_wra_other_measures['target'] = data_cat_wra_target['target']

C:\Users\PC\AppData\Local\Temp\ipykernel_132\1923273143.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_cat_wra_other_measures['target'] = data_cat_wra_target['target']

In [173]:
# sns.displot(data=data_cat_wra_other_measures, x="co2_emission", kind="kde")

In [174]:
# sns.displot(data=data_cat_wra_other_measures, x="primary_energy_consumption", kind="kde")

I´ll keep them till I check correlation.

##### Wrangling Data - numericals

In [175]:
data_num_wra = data_num_cleaning

In [176]:
data_num_wra['floor'] = np.where(data_num_wra['floor'] == 999, data_num_wra['number_of_floors'], data_num_wra['floor'])

In [177]:
# calculation = data_num_wra[(data_num_wra['floor'])!=999]
# calculation['floor'].mean()

In [178]:
data_num_wra['floor'] = np.where(data_num_wra['floor'] == 999, 0, data_num_wra['floor'])
data_num_wra.drop(['number_of_floors' ], axis=1, inplace=True)

I think it´s unlikely the missing floor values are 3, and there are 400, so I´ll replace it by 0 to indentify them later.

In [179]:
# data_num_wra['construction_year'].value_counts()
# data_num_wra['outdoor_parking_spaces'].value_counts()

In [180]:
data_num_wra.drop(['outdoor_parking_spaces' , 'construction_year'], axis=1, inplace=True)

##### Wrangling Data - Final DataFrame

df | column
-- | ------
data_num_wra | floor
data_cat_wra_m2 | living_area_clean
data_cat_wra_target | target
data_cat_wra_numbers_items | bathrooms, toilets, shower_rooms, number_bedrooms
data_cat_wra_other_measures | primary_energy_consumption, co2_emission
data_cat_wra_yes_no | double_glazing, swimming_pool, dining_room, laundry_room, basement, air_conditioning
data_cat_wra_few | listing_type, kitchen_type, building_condition, postcode
data_cat_wra_too_many | municipality, street

In [181]:
# data_cat_wra_too_many.head(2)

In [182]:
# data_cat_wra_too_many.isna().sum()

In [183]:
# for col in data_cat_wra_too_many.columns:
#     display(data_cat_wra_too_many[col].unique())
#     display(data_cat_wra_too_many[col].dtype)

In [184]:
data_wra = data_cat_wra_target

In [185]:
data_wra = pd.merge(left=data_wra,
                    right=data_cat_wra_too_many,
                    how='left',
                    on= 'id')

In [186]:
data_wra = pd.merge(left=data_wra,
                    right=data_cat_wra_few,
                    how='left',
                    on= 'id')

In [187]:
data_wra = pd.merge(left=data_wra,
                    right=data_cat_wra_yes_no,
                    how='left',
                    on= 'id')

In [188]:
data_wra = pd.merge(left=data_wra,
                    right=data_num_wra,
                    how='left',
                    on= 'id')

In [189]:
data_wra = pd.merge(left=data_wra,
                    right=data_cat_wra_m2,
                    how='left',
                    on= 'id')

In [190]:
data_wra = pd.merge(left=data_wra,
                    right=data_cat_wra_numbers_items,
                    how='left',
                    on= 'id')

In [191]:
data_wra = pd.merge(left=data_wra,
                    right=data_cat_wra_other_measures,
                    how='left',
                    on= 'id')

In [192]:
# data_wra.shape

In [193]:
data_wra.head(1)

,id,basic_price,extra_price,target_x,municipality,street,listing_type,kitchen_type,building_condition,postcode,double_glazing,swimming_pool,dining_room,laundry_room,basement,air_conditioning,floor,living_area_clean,bathrooms,toilets,shower_rooms,number_bedrooms,primary_energy_consumption,co2_emission,target_y
0,1,750,30,780,Other,Other,Apartment,Installed,Good,1190,Yes,No,No,No,No,No,2.0,128,1,1.0,1,1,0,0,780

In [194]:
data_wra.drop(['basic_price', 'extra_price', 'target_y', 'id'], axis=1, inplace=True)

In [195]:
data_wra.rename(columns={'target_x': 'target'}, inplace=True)

In [196]:
data_clean = data_wra

In [197]:
# data_clean.head(60)

### Save

In [198]:
data_clean.to_csv('MPB-Dataset_Clean.csv', index=False)

In [201]:
password = getpass()

········

In [202]:
connection = 'mysql+pymysql://root:'+password+'@localhost/mbp'
engine = create_engine(connection)

In [203]:
table_name = 'rent_belgium'

data_clean.to_sql(name=table_name, con=engine.connect(), if_exists='replace', index=False)

3477

### Open from SQL

In [204]:
query = 'SELECT * FROM mbp.rent_belgium'
data = pd.read_sql_query(query, engine)

In [205]:
data.head(20)

,target,municipality,street,listing_type,kitchen_type,building_condition,postcode,double_glazing,swimming_pool,dining_room,laundry_room,basement,air_conditioning,floor,living_area_clean,bathrooms,toilets,shower_rooms,number_bedrooms,primary_energy_consumption,co2_emission
0,780,Other,Other,Apartment,Installed,Good,1190,Yes,No,No,No,No,No,2.0,128,1,1.0,1,1,0,0
1,1350,uccle,Other,Apartment,Installed,Good,Other,No,No,No,No,No,No,3.0,90,1,1.0,1,1,0,0
2,1280,Other,Other,Apartment,Hyper equipped,Good,1040-1060-1000-1150-1160,Yes,No,Yes,Yes,Yes,No,3.0,90,1,1.0,1,1,242,52
3,1100,woluwe,Other,Apartment,Installed,Good,Other,Yes,No,No,No,Yes,No,3.0,75,1,1.0,1,1,542,109
4,1040,Other,Other,Apartment,Hyper equipped,Good,1040-1060-1000-1150-1160,No,No,Yes,No,No,No,4.0,70,1,1.0,1,1,0,0
5,795,Other,Other,Other,Installed,Renovated,1040-1060-1000-1150-1160,Yes,No,No,Yes,No,No,1.0,28,1,1.0,1,1,0,0
6,2700,Other,chaussée de waterloo,Other,Not installed,Renovated,1050-1200,Yes,No,Yes,No,Yes,No,0.0,270,1,3.0,1,1,123,0
7,1200,Other,Other,Apartment,Hyper equipped,Renovated,1040-1060-1000-1150-1160,Yes,No,No,No,Yes,No,2.0,50,1,1.0,1,1,0,0
8,1450,Other,Other,Apartment,Hyper equipped,Renovated,1040-1060-1000-1150-1160,Yes,No,No,No,Yes,No,3.0,60,1,1.0,1,1,0,0
9,905,woluwe,Other,Apartment,Not installed,Renovated,Other,Yes,No,No,No,Yes,No,3.0,97,1,1.0,1,1,488,115
10,1030,woluwe,Other,Apartment,Installed,Renovated,1030,Yes,No,No,No,Yes,No,5.0,60,1,1.0,1,1,86,17
11,1080,woluwe,Other,Apartment,Hyper equipped,Renovated,Other,Yes,No,No,No,No,No,4.0,52,1,1.0,1,1,438,115
12,730,bruxelles,avenue louise,Other,Installed,Good,1070,Yes,No,Yes,Yes,No,No,1.0,40,0,1.0,1,1,0,0
13,1475,bruxelles,avenue louise,Apartment,Hyper equipped,Renovated,Other,Yes,No,No,No,Yes,No,7.0,90,1,2.0,1,1,0,0
14,1100,Other,Other,Apartment,Not installed,Renovated,Other,Yes,No,No,No,Yes,No,8.0,75,1,1.0,1,1,832,0
15,1250,bruxelles,avenue louise,Apartment,Hyper equipped,Renovated,1040-1060-1000-1150-1160,Yes,No,No,No,No,No,6.0,90,1,1.0,1,1,407,87
16,980,bruxelles,avenue louise,Apartment,Not installed,Renovated,1040-1060-1000-1150-1160,Yes,No,No,No,No,No,1.0,70,1,1.0,1,1,407,87
17,1570,Other,Other,Apartment,Hyper equipped,Renovated,Other,Yes,No,Yes,Yes,No,No,3.0,122,1,2.0,1,1,0,0
18,950,Other,Other,Other,Installed,Renovated,1190,Yes,No,No,Yes,No,No,3.0,45,0,1.0,1,1,0,0
19,1950,Other,Other,Other,Hyper equipped,Renovated,1190,Yes,No,Yes,Yes,No,No,3.0,110,1,1.0,1,1,0,0

In [206]:
data.isna().sum()

target                        0
municipality                  0
street                        0
listing_type                  0
kitchen_type                  0
building_condition            0
postcode                      0
double_glazing                0
swimming_pool                 0
dining_room                   0
laundry_room                  0
basement                      0
air_conditioning              0
floor                         0
living_area_clean             0
bathrooms                     0
toilets                       0
shower_rooms                  0
number_bedrooms               0
primary_energy_consumption    0
co2_emission                  0
dtype: int64

In [207]:
for col in data.columns:
    print(f'\n {col}: \n', data[col].unique())

 target:
 [  780  1350  1280  1100  1040   795  2700  1200  1450   905  1030  1080
   730  1475  1250   980  1570   950  1950   750  1550  3300  1400   830
   970  2650  1650   825   920   700   515   710   815   745  1150  1195
   660  2100   555  3200   650   880  1430  2630   975  1540   935  1740
   570  1345   990   890  1850  1380   835   930   925   992  2225   870
   850  2250  1735  2425  1035  1675  1490  2510  1385  1251   865  2175
   690   860  1500  1760  1625  4450  2750  1050   760   840   985  1215
  1680  1010  1750   800  1820   790  1340  1180  1390  1900  1355  1205
  1510  1000  2800  2329   470  1025  1290  1260   770  1780  2600  4200
  1065   805  1185  4350  1120  2200  1775  1330  1300   900  4100  1480
  2050  2030  1700  1230  1590  1170  1375  1660  4930  1085  1705  2025
  1580  1225  2000  1175   910  1395  2400  1610  2285   875  1640  1220
  3050  1275   715   816  1800   921  1315  1555  2150  2300  4400  4000
  1349  2770  2601   855  2450  3550  2870   720  1370  1145  3400   590
  6500  1125  1070   960   885  1795  1575  1425  1365  2950  4600  1160
  1725   940  1585  1870  3770  1600  3000  2850  1305  2075  1530  4500
  1265   820  3080   735  1360  1090  1770  1495  2680  3350  1140  1245
  3250  1790   675  1015  2095  1075  1270  1525  1470  1825  1310   785
   895  6000  1520  1545  2040  4650  1420 16800  3630  2350  9380  3950
   500  5750  2920  6600   995  1690  3900  2500  1027  2620  2730  1830
  5250  7900  2476  2170  1920  2005  3750   945  1440  1110  6850  2550
  1885  1730   775  2490  1855   610  1535 10025  1965  1421  1630  2690
   640  1665  7850   635  5400   520   580   845   450  1620  1975  6900
  1995   630  2380  3620  1325  1210  1060   550  2570  2862   810  1708
  1549  3560  2265  3500  2900  4850  2875  1499  2375   793  1990   705
  2210  4630  3800  2130   725  2930  2470  2201  2280   680  1970  1895
  3930  2070  3525  1135  2595  1320  5500  3450  3991  1130   961   600
  1240   977  4530  3700   965  1295  1915  5630  1655  3075  4410  7000
  2120  3150  1515  1560  2020  3600  1410   620  1020  2751  1465   540
  3100  3850  1095  2720  1005  2840  2240  1851  2085   886  1960  7500
  2159  1460  1720  2660  1485  2390   858  1072  1505  1335  1455   916
  2745  4300  2190  1045  5000  2140   765  2525  1483   899  2111  4050
  3590  4900  1670  2880  1710  1059   755  3230  3491   695  2270  1615
  1810  3490  1880  1840  2951  1264   955  1190  1984  1745  3890  3650
   140  3175  5100  3775  1301  4940  5150  1201  2260  3540  3351 76375
  1890  1935  1235  3870  2701  2625   670  4150  1405  1285  1008  1910
  2158  6570  5570  1565  1415  2320  3340  1445  1816  2430  2125  2940
  2540  2420  5025  3501  8000  1374  2220  1785  1695  2901  1685  4501
  1737  5600  1451  2275  2035  3290  6250  1815  2155  3110   901  2685
  1165  1105  1929  1155  5550  3990  1379  1115  1552  1966  4250  2230
  7800  8640  6100  5800  2135  1945   740  8150  3380  5300  4950  2115
  1299  3240  3280  3999  1498  2530  5650  4440  5801  3170  2501  1776
  2790  1922  2825  4870  4800 15000  9100  3830  4230  3910  3201   625
  2775  2675  3520   914  4700   944  6700 10300  6800  8500  1980  1368
  2245   749  2370  2445  2475  1399  1799  1919  2149  2489  2633  2646
  4053  3648  5990  6200]

 municipality:
 ['Other' 'uccle' 'woluwe' 'bruxelles' 'ixelles' 'etterbeek']

 street:
 ['Other' 'chaussée de waterloo' 'avenue louise' 'place burgmann']

 listing_type:
 ['Apartment' 'Other']

 kitchen_type:
 ['Installed' 'Hyper equipped' 'Not installed' 'Semi equipped']

 building_condition:
 ['Good' 'Renovated' 'No renovated']

 postcode:
 ['1190' 'Other' '1040-1060-1000-1150-1160' '1050-1200' '1030' '1070'
 '1180' '1140']

 double_glazing:
 ['Yes' 'No']

 swimming_pool:
 ['No' 'Yes']

 dining_room:
 ['No' 'Yes']

 laundry_room:
 ['No' 'Yes']

 basement:
 ['No' 'Yes']

 air_conditioning:
 ['No' 'Yes']

 floor:
 [ 2.  3.  4.  1.  0.  5.  7.  8.  6. 12. 17. 24.  9. 10. 11. 14. 19. 20.
 45. 23. 31. 40.]

 living_area_clean:
 [  128    90    75    70    28   270    50    60    97    52    40   122
    45   110    54   120   160    80    67   140   139   109   118    95
    32    65   100   129   166    68   145   115    71   130    66    63
    64   150    89    36    59    76   155   127   162   124   180   332
    55    29    58    38    83    79   230    85   119   101   136   105
   116    57   114   151    35    48    96    98    37   167   220    42
   173   144    74    47    72   135   133    20   131    82    56    44
   125   132   137   154   300   210   102    73    51   249    43   170
   112    77   280   250    92   149   200    78   267   218   264   226
    86   103   165    91   152   215   175   182    53    49   108    62
   153    61   195   192   217   113   390    33   260  4845   123   190
 10409    88   400   240  2602   185    93   320   272   239   146   570
   117   107   148   156   126    30    99   111   169   161    84   134
   290   147   304    94   244    41   375   179    87   197    81   164
   339   194   310   235   141    46   284   344   184   330   285   106
   143    23   574   385    14   191    69   187   571    18   275   142
   201    21   104    34    39   121   203   900   902   198   186   266
   138   566   211   168   540   350   213   157   301   163    26   465
   245   435   172   274   176   319   420   424   159   263   335   452
   177   380    22   228   234   326   850   407   315   347   205   199
   543   327   354   265   256   382   550   303   247   323   500   364
   450   507   222   370   510   208   216   202   178   158   181   535
   232   293   700   562   520   305   434   360   436   600   560   491
   362]

 bathrooms:
 [ 1  0  2  3  4  5  6 12  7 11]

 toilets:
 [ 1.  3.  2.  4.  8.  5.  7.  6. 12.  9.]

 shower_rooms:
 [ 1  2  3  7  4  6 75 11  5 12 10  8]

 number_bedrooms:
 [1]

 primary_energy_consumption:
 [    0   242   542   123   488    86   438   832   407   165   504   197
   101   182   251   404   117   154   112   128   149   224   227   208
   560   186   336   126    47   686   520    79    83   240   291   138
   179   201   167    90   133   189   204   148   316    59    62    45
   210   321   108   155   157  1352   163   127   287    95   156   207
   200   105   277   217   255   538   161   276    48   275   109    73
   169   151   278   595    17   282   357    67   170   465   178   906
   340   144   214   140   136   124   184   158   180   168   130    72
   246    74    94    93   190   466   248   259   556   121   232   152
   139   222   279   231   185   281   451   431   119   267    35   280
   209   481    15   183   106   147   379   444   125   131   381  9360
   274   256   310   266   143   641   366   226   456   546   306   181
   294    81   122   191   188   159   194   223   370   225   137   195
   211   768   506    89   160   241   257  6315   233    50   166   135
   173   690    41   162    49   435   271   327   263   228   236   368
     1   145   323    64   364   253   116    55   575   202   570   398
   311   716   559   260   341    99   132   331    38   153  1015   114
    75   247   581   418    60   270   283   198   530   396   318   324
   406   284   727   634    91   338   299   244   150   196   252   215
    69   636    70   175   427  6972   142  1165   319   199   120   678
   505   302   308   425    92    63    78   292   372   512   171   261
    56   322    77   118   176   212   250    97    71   541   394   293
   229   963   333   220   104    66   552   685   360   219   314   134
   342    85   234   107   192   102   203   193   794    58    61   295
   237   146   344   115   462   355    46   458   164    65   141   254
   172   110   216   297    22   218   637   415   430   464   221   399
   268    53   235   400    68   265   243   111     8   320   177   577
   187  1021   450   813   315   307   206   335    42    76  1194   977
   343   700   424    37    80   354   962    87   100    34   419    88
   543    43   993   330   623   337    24  1131   245   230    10   374
   286   592   312   477   213    39   249   258   332   113   563   416
   436   555   269   471   703   285   350   437   443   339   103   442
   272   503   239   362   574    25   205   445  1007   830   647    36
   478   325    84   517   743   365   296   422   561   630   495   300
   347   326    44   446   376   359   829   752   305   405  1590   129
   301   298    32   611   356   262   174   558   313   288    20   622
   352   353   378   273   317  1060   594 29137   334  1288   371   421
   795   238   290  1789   309   328   848   487   470   718    98   688
   363   417    30   345    82   724   659   264   565   348   854   923
   500   346   508   426   608   603   638   548   420   533   289   539
   461   432   557   618   589    51   414    57    14    96   950   522
   459   631    40   957   723   469   303   383   433   473   455   675
   472]

 co2_emission:
 [  0  52 109 115  17  87  35  80  19  43  44 111  37  41  25  18 208 137
  27  40  38  39  33  15  29  63  10  13  42  69  32  31  34  46  23  51
 108  56 240  55  22  30 128   9  90  53 195  68  65  26  20  28  59  91
  50 101  60  88 130  83  24  71  57  12  93   5  36  81  89 233  54  64
  74 129  73  45  21 117  92  16  47  48 165   6 148  11  67   1 642  49
 123  62 153  58   8 304 125 520  84  72  66 149 103  14  78  86  82 234
  61  79 135  76 100  75 134  70 169 155  98 122 116 132 175  85 276 210
 243   7  99 230  95  94 126 182 370 120 150 124 141 114 252 112 306 167
 119  96 320  77 127 312 162 577 251   4 110 296 330 380 189 190 133 102
 143 113 488 294 142 174 186 121 138 288 107 118 136 104 184 192 191 178]